{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Главная страница</title>
{% endblock %}

{% block content %}
        <a class="btn btn-success m-3" href="profile">
            Профиль
        </a>
        <a class="btn btn-success m-3" href="posts">
            Лента
        </a>
        <div class="title-home">
            Добро пожаловать на мой сайт
        </div>
        <div>
            <img class="img-home" src="{% static 'imghome.jpg' %}" />
        </div>
{% endblock %}