<!doctype html>
<html lang="ru">

    <head>
        <meta charset="utf-8" />
        <title>Главная страница</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>

    <body>
        {% for product in products %}
            <h3>{{product.name}}</h3>
        {% endfor %}

        <div>
            <form method="POST" action="create">
                {% csrf_token %}
                <p>
                    <label>Введите название продукта</label><br>
                    <input type="text" name="name" />
                </p>
                <p>
                    <label>Стоимость</label><br>
                    <input type="number" name="price"  />
                </p>
                <input type="submit" value="Сохранить" >
            </form>
        </div>
    </body>
</html>